*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    flex-wrap: wrap;
    background-color:whitesmoke;
}
#wrapper{
    margin: 20% 25%;
    width: 48%;
    padding: 50px;
    text-align: center;
    background-color: black;
}
#wrapper form{
    margin: 0 50%;
    text-align: center;
}
#wrapper form #submit{
    text-align: left;
    width: 150px;
}

h1{
    margin-bottom: 10px;
}
label{
    margin: 15px;
}
